# gitignore
node_modules
**/node_modules

coverage/
.nyc_output/

# Only apps should have lockfiles
npm-shrinkwrap.json
package-lock.json
yarn.lock

# symlinked file used in tests
test/resolver/symlinked/_/node_modules/package

.npmignore
