# gitignore
node_modules
**/node_modules

# Only apps should have lockfiles
npm-shrinkwrap.json
package-lock.json
yarn.lock

# symlinked file used in tests
test/resolver/symlinked/_/node_modules/package

# ignore malformed package json
test/resolver/malformed_package_json

.github/workflows
